<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TT The Time</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="/static/script.js" defer></script>
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <div class="logo-c">
        <a href="index.html" class="logo"><span class="c-letter">T</span>
          <span class="mart">he</span>
          <span class="c-letter">T</span>
          <span class="mart">ime</span>
        </a>
      </div>
      <div class="dropdown">
        <a href="#">New</a>
      </div>
      <div class="dropdown">
        <a href="#">Men</a>
        <div class="dropdown-content">
          <a href="men.html">Men Clothing</a>
          <a href="men.html">Men's Shoes</a>
          <a href="men.html">Accessories</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#">Women</a>
        <div class="dropdown-content">
          <a href="women.html">Women's Clothing</a>
          <a href="women.html">Women's Shoes</a>
          <a href="women.html">Accessories</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#">Appliances</a>
        <div class="dropdown-content">
          <a href="appliances.html">Computers</a>
          <a href="appliances.html">Cell-Phones</a>
          <a href="appliances.html">Headphones</a>
          <a href="appliances.html">Home Electronic Appliances</a>
        </div>
      </div>
      <a href="about.html" class="scroll-link">About</a>
      <a href="#">Contact</a>
    </nav>

    <div class="header-icons">
      <div class="social-icons">
        <a href="#" aria-label="Shopping Cart"><i class='bx bxs-cart'></i></a>
        <a href="#" class="user-icon" aria-label="User Profile"><i class='bx bx-user'></i></a>
      </div>
      <form action="#" class="search-bar" method="get">
        <input id="search-input" type="text" placeholder="Find the best deals..." aria-label="Search">
        <button type="submit"><i class='bx bx-search'></i></button>
      </form>
    </div>
  </header>

  <main class="container">
    <div class="content">
      <h2 class="logo">The Time</h2>
      <div class="text-sci">
        <h1>Find the Best Prices!</h1>
        <p>We help you compare prices across various sellers to ensure you get the best deals on your desired products.
          Shop smart, save big!</p>
        <a href="#" onclick="scrollToProducts()">
          <button class="start-btn">Compare Prices</button>
        </a>
        <div class="social-icons">
          <a href="#" aria-label="LinkedIn"><i class='bx bxl-linkedin'></i></a>
          <a href="#" aria-label="Facebook"><i class='bx bxl-facebook'></i></a>
          <a href="#" aria-label="Twitter"><i class='bx bxl-twitter'></i></a>
          <a href="#" aria-label="Instagram"><i class='bx bxl-instagram'></i></a>
        </div>
      </div>
    </div>

    <aside class="logreg-box">
      <div class="form-box login">
        <form action="#" method="post">
          <h2>Sign in</h2>
          <div class="input-box">
            <span class="icon"><i class='bx bxs-envelope'></i></span>
            <input type="email" required>
            <label>Email</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-lock-alt'></i></span>
            <input type="password" required>
            <label>Password</label>
          </div>

          <div class="remember-forgot">
            <label><input type="checkbox" id="remember-me">Remember me</label>
            <a href="#">Forgot password?</a>
          </div>

          <button type="submit" class="btn">Sign in</button>

          <div class="login-register">
            <p>Don't have an account yet?
              <a href="#" class="register-link">Create it now!</a>
            </p>
          </div>
        </form>
      </div>

      <div class="form-box register">
        <form action="#" method="post">
          <h2>Sign Up</h2>
          <div class="input-box">
            <span class="icon"><i class='bx bxs-user'></i></span>
            <input type="text" required>
            <label>Name</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-envelope'></i></span>
            <input type="email" required>
            <label>Email</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-lock-alt'></i></span>
            <input type="password" required>
            <label>Password</label>
          </div>

          <div class="remember-forgot">
            <label><input type="checkbox">I agree to the terms & conditions</label>
          </div>

          <button type="submit" class="btn">Sign Up</button>

          <div class="login-register">
            <p>Already have an account?
              <a href="#" class="login-link">Sign in</a>
            </p>
          </div>
        </form>
      </div>
    </aside>



  </main>
  <div class="boxes-container">
    <div class="box women">
      <a href="women.html" class="text-box">Women</a>
    </div>
    <div class="box men">
      <a href="men.html" class="text-box">Men</a>
    </div>
    <div class="box accessories">
      <a href="appliances.html" class="text-box">Accessories</a>
    </div>
    <div class="box appliances">
      <a href="appliances.html" class="text-box">Appliances</a>
    </div>
  </div>


  <section id="item-gallery" class="item-gallery">
    <h2>Whats New!!</h2>
    <div class="product-scroller">
      <button id="scrollLeft" onclick="scrollLeft()">◀</button>
      <div class="product-grid">
        <div class="product">
          <a href="compare_price.html?product=Heart%20Shaped%20Purse">
            <img src="/static/icons/purse.jpeg" alt="Heart-Shaped Purse">
            <h2>Heart-Shaped Purse</h2>
            <p>Heart-Shaped Purse (Black)</p>
            <p class="price">From ₩10,000</p>
          </a>
        </div>

        <div class="product">
          <a href="compare_price.html?product=Peach%20Juice%20Airpod%20Case">
            <img src="/static/icons/airpodcase.jpeg" alt="Apple Airpod Case">
            <h2>Apple Airpod Case</h2>
            <p>Peach Juice Airpod Case</p>
            <p class="price">From ₩33,000</p>
          </a>
        </div>

        <div class="product">
          <a href="compare_price.html?product=Galaxy%20S22%2B%20Case">
            <img src="/static/icons/phonecase.jpeg" alt="Galaxy S22+ Case">
            <h2>Galaxy S22+ Case</h2>
            <p>Galaxy S22+ Phone Case, abstract base design</p>
            <p class="price">From ₩25,000</p>
          </a>
        </div>

        <div class="product">
          <a href="compare_price.html?product=Pink%20Ribbon%20Bag">
            <img src="/static/icons/handbag.jpeg" alt="Pink Ribbon Bag">
            <h2>Pink Ribbon Bag</h2>
            <p>BlackPink Pink Shaped Ribbon Bag</p>
            <p class="price">From ₩87,000</p>
          </a>
        </div>

        <div class="product">
          <a href="compare_price.html?product=Cross%20Bag%20(Black)">
            <img src="/static/icons/bag.jpeg" alt="Cross Bag (Black)">
            <h2>Cross Bag</h2>
            <p>Black Cross Bag</p>
            <p class="price">From ₩50,000</p>
          </a>
        </div>

        <div class="product">
          <a href="compare_price.html?product=Apple%20Watch">
            <img src="/static/icons/watch.jpeg" alt="Apple Watch">
            <h2>Apple Watch</h2>
            <p>Apple Watch Series 5</p>
            <p class="price">From ₩299,000</p>
          </a>
        </div>

        <div class="product">
          <a href="compare_price.html?product=Classic%20White%20Dress">
            <img src="/static/icons/creme_dress.jpg" alt="Classic White Dress">
            <h2>Classic White Dress</h2>
            <p> Classic Straight A-line White Dress</p>
            <p class="price">From ₩105,000</p>
          </a>
        </div>
        <div class="product">
          <a href="compare_price.html?product=Black%20Boots%20with%20Buckle">
            <img src="/static/icons/black_boots.jpg" alt="Cross Bag (Black)">
            <h2>Black Zara Boots</h2>
            <p>Black Ankle Buckle Women Boots</p>
            <p class="price">From ₩90,000</p>
          </a>
        </div>
        <div class="product">
          <a href="compare_price.html?product=Black%20Wool%20Jacket">
            <img src="/static/icons/black_jumper.jpg" alt="Cross Bag (Black)">
            <h2>Black H/M Jumper</h2>
            <p>H/M Men Winter light Jumper</p>
            <p class="price">From ₩100,000</p>
          </a>
        </div>
        <div class="product">
          <a href="compare_price.html?product=iPhone%2015%20Pro%20Max">
            <img src="/static/icons/iphone13_pro.jpg" alt="Cross Bag (Black)">
            <h2>Iphone 15 Pro Max</h2>
            <p>Apple 15 Pro Refurbished</p>
            <p class="price">From ₩700,000</p>
          </a>
        </div>
      </div>
      <button id="scrollRight" onclick="scrollRight()">▶</button>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 PriceCompare. All rights reserved.</p>
  </footer>
    <script type="text/javascript">
    (function(d, t) {
        var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
        v.onload = function() {
          window.voiceflow.chat.load({
            verify: { projectID: '674c7e75d4ab32a52db0de9c' },
            url: 'https://general-runtime.voiceflow.com',
            versionID: 'production'
          });
        }
        v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
    })(document, 'script');
  </script>
</body>

</html>
